.button {
  padding: 20px 40px 20px 40px;
  border-radius: 4px;
  opacity: 0px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s ease, background-color ease 0.3s;
}

.button:hover {
  background-color: var(--mid-gray);
}

.button:active {
  transform: scale(0.95);
}
