@font-face {
  font-family: 'Graphik LCG';
  src: url('../src//assets//fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../src//assets//fonts/GraphikLCG-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
:root {
  --black: #191c1f;
  --mid-gray: #c2c8cd;
  --dark-gray: #5e646a;
  --gray: #83898f;
  --light-gray: #eceff2;
  --extra-light-gray: #f6f8fa;
  --white: #ffffff;
  --dangerous: #f13636;
  --green-succes: #25cd82;
  --primary-disabled: #abcae6;
  --primary: #2a6cea;
  --primary-hover: #397dff;
}

body {
  font-family: 'Graphik LCG', sans-serif;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
p {
  margin: 0;
}
h4 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 3px solid transparent;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
